*{
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

body{
    background-color: #738FA7;
}

.banner{
    display: grid;
    justify-content: center;
    align-items: center;

    padding: 1em;

    background-color: yellow;
}

.canvas{
    margin: 2rem;
}

.sidmenu{
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    align-items: center;

    position: absolute;
    right: 0%;
    top: 0%;

    width: 10vw;
    height: 100vh;

    background-color: #071330;
}

.edit{
    font-size: 1.5rem;
    font-weight: 600;
    color: #C3CEDA;

    padding: 1em 1.5em;
    border-radius: 0.5em;

    cursor: pointer;
    transition: background-color 0.2s linear;
}

.edit:hover{
    background-color: rgba(115, 143, 167, 0.7);
}

.submenu{
    display: flex;
    flex-direction: column;

    align-items: center;

    position: absolute;
    right: 10vw;
    top: 0%;

    width: 10vw;
    height: 100vh;

    padding-top: 5%;

    background-color: #0C4160;
}

.subMenuText{
    margin-top: 1rem;
}

.slider{
    width: 80%;
}